<footer class="bg-dark mt-auto">
    <p class="text-center text-light">Derechos Reservados &copy tellxmaster</p>
    <div class="contactos text-center">
        <ul class="d-flex">
            <li class="p-1"><a href="https://www.linkedin.com/in/elias-telleria-b7a05229" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="p-1"><a href="https://github.com/tellxmaster" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li class="p-1"><a href="https://angular.io/cli" target="_blank"><i class="fa-brands fa-angular"></i></a></li>
        </ul>
    </div>
  </footer>